<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="be-green white large-padding">
      <ul class="no-list row center-xs middle-xs">
        <li class="col-xs">
          <h1 id="logo" class="no-margin"><%= link_to "Inicio", root_path %></h1>
        </li>
        <li class="col-xs">
          <%= link_to "Artículos", root_path %>
        </li>
        <li class="col-xs">
          Diseño
        </li>
        <li class="col-xs">
          programacion
        </li>
        <li class="col-xs">
          tecnologia
        </li>
      </ul>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
